@import 'leaflet/dist/leaflet.css';

body {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: #F9F7EB;
  margin: 0;
}

section {
  display: flex;
  justify-content: center;
}

section div.inner {
  width: 100%;
  max-width: 1000px;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

section.dark {
  background-color: #222;
  color: white;
}

.chart-wrapper {
  height: 700px;
  padding: 2rem 0;
}

section.map div.inner {
  max-width: none;
  padding: 0;
}

#map {
  height: 50rem;
}
